@media screen and (min-width:0\0) and (min-resolution: +72dpi) {

    .main-pathway p {
        top:50%;
        left:50% !important;
        transform:translateY(-50%) translateX(-50%);
        margin-right: 0 !important;
        padding-right:0 !important;
        width:64% !important;
    }

    .main-pathway {
        padding-right: 0 !important;
    }

    .main-pathway *:not(p) {
        transform: none !important;
    }

    #offers-section {
        position: relative;
        margin-top: 175px;
    }

    .right-section {
        position: relative !important;
    }

    .services-overlay a {
        top: 0;
        left: 0;
    }

}