$primary: white !default;

$secondary: #e7e7e7;

$utility-nav-bg: black;
$utility-nav-fa: #4c4c4c;
$utility-nav-primary: white;
$utility-search-bg: #2d2d2d;

$primary-nav-primary: white;
$primary-nav-font-size: 14px;
$primary-nav-padding: 0 15px;

$navigation-primary-font: 'Montserrat', sans-serif;

$transition-primary: .8s cubic-bezier(.2,1,.3,1);
$transition-flat: .8s ease;

$slider-primary: white;

$font-family-primary: 'Montserrat', sans-serif;
$font-family-paragraph: 'Roboto', sans-serif;

$h1-font-size: 36px;
$h1-letter-spacing: 1.2px;
$p-font-size: 18px;

/** Bootstrap Variable Overrides **/
$btn-font-family: 'Montserrat', sans-serif !default;
$btn-font-weight: 600 !default;
$body-color: black !default;
$btn-padding-x: 20px !default;
$btn-border-radius: 0 !default;
$brand-primary: white !default;
$btn-font-size: 14px;

$quick-hit-headline-size: 24px;