@include phone {

nav#primary-nav {
    position: relative;
    .container {
        position: relative;
    }
    i.fa.fa-bars {
        color: white;
        font-size: 34px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.mobile-menu {

    div#navbarNavDropdown {
        width: 186px;
    }
    a.dropdown-item {
        white-space: pre-wrap;
        padding: 10px 0;
        padding-left: 10px;
    }

    position:fixed;
    height: 100vh;
    z-index: 100;
    width: 70vw;
    top:0;

    transition: $transition-primary;

    &:not(.showing) {
        right: -100vw;
    }

    &.showing {

        ul.dropdown-menu.show {
            position: static !important;
            transform: none !important;
            background-color: transparent;
            border: 0;
            
        }

        .dropdown-menu {
            
            transition: $transition-primary;

            
        }

        right:0;
        

        background-color: #eee;

        .fa-times {
            position: absolute;
            left: 30px;
            top: 50px;
            color: #000;
            font-size: 32px;
        }

        .menu-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            .nav-link {
                color: black;
                font-family: $font-family-primary;
                letter-spacing: $va-120;
                text-transform:uppercase;
                font-weight: 600;
            }
        }

    }

}

}

@include desktop {
    .mobile-menu {
        display:none;
    }
    i.fa.fa-bars {
        display: none;
    }
    
}

@include phone {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown.show .dropdown-menu.show {
        display: none;
    }
    .showNow {
        position: static!important;
        -webkit-transform: none!important;
        transform: none!important;
        background-color: transparent !important;
        border: 0 !important;
        -webkit-transition: .8s cubic-bezier(.2,1,.3,1) !important;
        transition: .8s cubic-bezier(.2,1,.3,1) !important;
        display: block !important;
    }
    
    ul.sub-menu:not(.showMenu) {
        height: 0;
        opacity: 0;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    i.fa.fa-sort-down.onMobileNav {
        position: relative;
        left: 15px;
        color: white;
        top: -3px;
    }
    
    #menu-primary-nav-1 > .menu-item > a {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-family: Montserrat,sans-serif;
        font-size: 17px;
    }
    
    #menu-primary-nav-1 > .menu-item > .sub-menu {font-family: 'Montserrat';text-transform: uppercase;font-size: 14px;padding: 20px 15px;list-style: none;}
    
    #menu-primary-nav-1 > .menu-item > .sub-menu li {
        padding: 10px 0;
    }
    
    .navbar-nav > li.menu-item {
        margin: 10px 0;
    }

    ul.sub-menu {
        transition: $transition-primary;
    }
    
    
    .navbar-nav>li.menu-item {
        z-index: 200;
    }
    
}

