#primary-nav {

    padding-top: 30px;  
    z-index:1;

    .dropdown-toggle::after {
        display: none;
    }

    
    #menu-primary-nav > .menu-item {
        padding-right: 10px;
        padding-left: 10px;
    }

    &.extended-height {
        padding-bottom: 50px;
        background-size:cover;
        background-position:top left;
    }

    &.transparent {
        background-color: transparent;
    }

    .navbar-brand {
        img {
            max-width: 193px;
        }
    }

    a.nav-link {
        font-family: $navigation-primary-font !important;
        text-transform: uppercase;
        color: $primary-nav-primary !important;
        font-size: $primary-nav-font-size;
        letter-spacing: 2px;
        padding: $primary-nav-padding !important;
    }

    .right-section {
        position: relative;
        top: 10px;
    }

    &.transparent {
        box-shadow: 0 0 0 0 rgba(0,0,0,.7);
        .gradient-overlay {opacity: 0;}
        .dropdown-menu.show{
            background-color:black;
            border-radius:0 !important;
            .dropdown-item{
                color:white;
                font-family: $navigation-primary-font;
                text-transform:uppercase;
                font-size:13px;
                &:hover {
                    background-color: #2d2d2d !important;
                }
            }
        }
    }

    &.hasBackground {
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,.7);
        .gradient-overlay {opacity: 1;}
        .dropdown-menu.show{
            background-color:#2d2d2d;
            border-radius:0 !important;
            .dropdown-item{
                color:white;
                font-family: $navigation-primary-font;
                text-transform:uppercase;
                font-size:13px;
                &:hover {
                    background-color: black !important;
                    color:white !important;
                }
            }
        }
        
    }

    
    .gradient-overlay {
        z-index:-1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient( rgba(0, 0, 0, 1), rgba(0,0,0, 1));
        transition: $transition-primary;
    }

    .dropdown-menu.show {
        transition:0.22s ease;
    }
    
    .nav-item.dropdown {
        padding-bottom: 20px;
    }

    .dropdown-menu {
        margin-top: -10px;
    }

    

}