body.home {
    background-color: black;
}

#primary-carousel {

    margin-top: -98px;
    z-index: 0;

    .text-content {
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
        @media(max-width:768px){
            min-width: 80vw;
        }
    }

    .carousel-wrapper {
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:768px){
            padding: 0 30px;
        }
    }
    
    .carousel-item {
        max-height: 660px;
        img {
            max-height: 660px;
            object-fit: cover;
        }
        i.fa.fa-chevron-right {
            padding-left: 7px;
            font-size: 7px;
            position: relative;
            top: -2.5px;
        }
        .top-text, .bottom-text, .excerpt {
            color: $slider-primary;
        }
        @media(min-width:768px){
            .top-text {
                position: relative;
                left: -100vw;
                transition: $transition-primary;
            }
            .bottom-text {
                left: 100vw;
                transition: $transition-primary;
                position: relative;
            }
        }
        @media(max-width:768px){
            .top-text {
                position: relative;
                transition: $transition-primary;
                left: -100vw;
            }
            .bottom-text {
                left: 100vw;
                transition: $transition-primary;
                position: relative;
            }
        }
        .slide-count {
            color: $slider-primary;
            position: relative;
            top: -5px;
            font-family: $font-family-primary;
            letter-spacing: 1.5px;
            left: -100vw;
            transition: $transition-primary;
        }
        .excerpt {
            position: relative;
            @media(min-width:768px){
                margin: 50px 0;
            }
            @media(max-width:768px){
                margin: 25px 0;
            }
            left: 100vw;
            transition: $transition-primary;
        }
        .btn {
            position: relative;
            left: 100vw;
            transition: $transition-primary;
        }
    }
    
    ol.carousel-indicators {
        justify-content: flex-end;
        bottom: 24px;
        li {
            border-radius: 100%;
            height: 8px;
            width: 8px;
            margin: 0 8px;
        }
    }

    .carousel-item img {
        max-height: unset;
        width: 120vw;
        max-width: unset;
        overflow: hidden;
        height: 100vh;
    }
    
}

.arrow-down-section {
    z-index:1;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    i.fa.fa-angle-down {
        font-size: 40px;
        font-weight: 600;
        color: white;
        opacity: 0.5;
    }
}