section#offers-section {

    @include phone {
        padding-top: 0px;
    }

    color: white;
    padding-bottom: 175px;

    position: relative;

    .arrow-down-section {
        bottom: 85px;
    }
    
    .text-section {

        background-color: #2a2a2a;

        @media(max-height:825px){
            min-height: 200px;
        }

        @media(min-height: 825px) {
            min-height: 245px;
        }

        position: relative;
        padding: 0 30px;

        .title {
            font-family: $font-family-primary;
            font-size: 20px;
            text-transform:uppercase;
            letter-spacing: 0.12em;
        }

        .content {
            
        }

        .btn {
            position:absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: left;
        }

    }

    .background-section {
        background-repeat:no-repeat;
        @media(max-height:835px) {
            background-position: bottom right;
        }
        @media(min-height: 835px) {
            background-position: top right;
        }
    }

    @include desktop {
        .offer-0 {
            padding-right: 40px;
        }
        .offer-1{
            padding-left: 40px;
        }
    }

    @include phone {
        .offer-0 {
            
        }
    }

}

@include phone {
    #offers-section .col-md-8.text-section {
        clip-path: polygon(0 0,100% 0,100% 100%,4% 100%,0 93%,0 54%);
    }

    #offers-section a.btn.btn-primary {
        padding-left: 30px;
    }

    section#offers-section p.title {
        line-height: 26px;
    }

    section#offers-section .text-section .wrapper {
        padding-bottom: 45px;
    }

    #offers-section .text-section p {
        line-height: 23px;
    }
}