#primary-nav {

    padding-top: 30px;  
    z-index:1;

    &.transparent {
        background-color: transparent;
    }

    .navbar-brand {
        img {
            max-width: 193px;
        }
    }

    a.nav-link {
        font-family: $navigation-primary-font !important;
        text-transform: uppercase;
        color: $primary-nav-primary !important;
        font-size: $primary-nav-font-size;
        letter-spacing: 2px;
        padding: $primary-nav-padding !important;
    }

    .right-section {
        position: relative;
    }

    &.transparent {
        .dropdown-menu.show{
            background-color:black;
            border-radius:0 !important;
            .dropdown-item{
                color:white;
                font-family: $navigation-primary-font;
                text-transform:uppercase;
                font-size:13px;
                &:hover {
                    background-color: #2d2d2d !important;
                }
            }
        }
    }

    &.hasBackground {
        .dropdown-menu.show{
            background-color:#2d2d2d;
            border-radius:0 !important;
            .dropdown-item{
                color:white;
                font-family: $navigation-primary-font;
                text-transform:uppercase;
                font-size:13px;
                &:hover {
                    background-color: black !important;
                    color:white !important;
                }
            }
        }
        .right-section {
            top: 10px;
        }
    }

    .dropdown-menu.show {
        transition:0.22s ease;
    }
    
    .nav-item.dropdown {
        padding-bottom: 20px;
    }

    .dropdown-menu {
        margin-top: -10px;
    }

}